body{
	font-family: "微软雅黑";
	font-size: 15px;
	padding: 15px;
}
div#main{
	margin: 0px auto;
	background-color: #eee;
	border:solid 1px #999;
	padding: 20px;
	min-width: 600px;
	overflow: auto;
}
img{
	width: 80px;
	height: 80px;
	border:solid 1px #999;
	margin: 5px;
}
img.logo{
	float: left;
}
div#left {
	background-color: white;
	float: left;
	width:160px;
	border:solid 1px #999;
	padding: 20px;
}
div.name{ 
	text-align: center;
	font-weight: bold;
}

div#center{
	background-color: white;
	border:solid 1px #999;
	padding: 10px;
	margin-left: 220px;
	margin-right: 140px;
}
div#right{
	background-color: white;
	width:120px;
	border:solid 1px #999;
	padding: 0px;
	float: right;
	text-align: center;
}

