
body{
	min-width: 1280px;

}
/*导航栏样式*/
header{
	height:56px;
	position: relative;
}
header img{
	margin-top:13px;
	margin-left: 59px;
	margin-right: 10px;
	float: left;
}
header span{
	font-family: '黑体';
	font-size: 21px;
	line-height: 56px;
	float: left;
}

header div ul{
	list-style: none;
	text-align: right;
	float: right;
	margin-right: 122px;
}
header div ul li{
	display: inline;
	height: 56px;
}
a.nav{
	color: #787b83;
	font-family: '微软雅黑';
	font-size: 14px;
	text-decoration: none;
	padding-left: 22px;
	padding-right: 22px;
	padding-bottom: 17px;
}

a.nav:hover{
	color: #e9605e;
	border-bottom: solid 4px #e9605e;
}

div.login{
	position: absolute;
	right: 67px;
}
div.login img{
	padding-top: 6px;
}
div.login span{
	color: #e74f4d;
	font-family: '微软雅黑';
	font-size: 14px;
	height: 38px;
	padding-bottom:17px;
}

/*开始体验部分*/
div.parta{
	position: relative;
	height: 939px;
	background-image: url(../image/task7/figure3.png);
	background-repeat: no-repeat;
	background-size: cover;
}
div.plane{

	height: 854px;

	position: relative;

}
img.plane_gray{
	width: 100%;
	position: absolute;
	top: 0px;
	right: 0px;
	opacity: 0.5;

}
div.begin{
	position: absolute;
	top: 190px;
	left: 116px;
	z-index: 10;
}
div.begin h1{
	font-family: '微软雅黑';
	font-size: 60px;
	color: #ffffff;
}
div.begin p{
	font-family: '微软雅黑';
	font-size: 21px;
	color: #ffffff;
	line-height: 16px;
}
div.begin button{
	width: 331px;
	height: 65px;
	background-color: #e74f4d;
	color: #ffffff;
	font-family: '微软雅黑';
	font-size: 30px;
	text-align: center;
	margin-left: 10px;
	margin-top: 45px;
	border:none;
}

div.parta div.introduce{
	width: 100%;
	height: 250px;
	position: absolute;
	top: 691px;
	background-color: #ffffff;
}
div.parta div.introduce div{
	width:25%;
	float: left;
	margin-top: 45px;
	margin-bottom: 66px;
}
div.introduce div img{
	display: block;
	margin:0px auto;
}
div.introduce div p{
	font-family: '黑体';
	font-size: 14px;
	color: #767777;
	text-align: center;
	line-height: 18px;
	margin-top: 42px;
	height: 60px;
	border-right:solid 2px #bbbbbb ;
}

div.introduce div.part1 p{
	margin-top: 40px;
}

div.introduce div.part4 p{
	border-style: none;
}
/*第二部分*/
/*关于新世界,你不知道的还有什么*/
div.partb{
	height: 1305px;
	position: relative;

}
img.aboutnw {
	display: block;
	margin:0px auto;
}
div.aboutnw{
	width: 100%;
	background-image: url(../image/task7/gray_light.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 270px;
	padding-top: 90px;
	font-size: 0px;
	margin:0px 0px;
}
div.aboutnw img{
	display: block;
	margin:0px auto;
}
div.aboutnw p{
	font-family: '黑体';
	font-size: 53.59px;
	line-height: 56.6px;
	text-align: center;
	color: #a1a1a1;
}
/*查找新世界城市活动信息*/
div.findcity{
	position: relative;
	height: 340px;
	margin:0px auto;
	background-image: url(../image/task7/figure10.png);
	background-repeat: no-repeat;
	background-size: cover;
}

div.findcity h3{
	font-family: 'Microsoft Yahei';
	font-size: 21px;
	line-height: 42px;
	color: #ffffff;
	display: block;
	text-align: center;
	margin:0px 0px;
	padding-top: 50px;
	font-weight: normal;
}
div.findcity hr{
	width:30px;
	border-top:1px #ffffff solid;
	margin:0px auto; 
}